services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: EstacionCafeTEC-WEB
    restart: unless-stopped
    ports:
      - "4321:4321"
    env_file:
      - .env.docker
    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 4321
    networks:
      - estacion-cafe-network

networks:
  estacion-cafe-network:
    driver: bridge

volumes:
  postgres_data:
