---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import LeftBar from "../../components/LeftBar.astro";
import Navbar from "../../components/Navbar.astro";
import BillBar from "../../components/BillBar.astro";

const options = [
  "Platos Principales",
  "Postres",
  "Café",
  "Combos",
  "Servicios",
];
const details: any[] = [];
const user = (Astro.locals as any).user;

// Aquí se recibirán los datos de la mesa y cuenta desde sessionStorage en el cliente
---

<Layout title="Realizar Pedido">
  <div
    class="container-fluid p-0 vh-100 overflow-hidden d-flex flex-column"
    data-user={JSON.stringify(user.userId)}
  >
    <div class="w-100 m-0"><Navbar /></div>

    <div class="d-flex flex-row flex-grow-1 overflow-hidden">
      <LeftBar options={options} title="Pedido" returnPath="/home" />
      <div
        class="w-100 d-flex flex-wrap gap-2 p-2 overflow-y-auto align-content-start"
        id="products_container"
        style="min-height: 0; max-height: 100%;"
      >
      </div>
      <BillBar details={details} />
    </div>
  </div>
  <script src="../../client-js/realizar-pedido.ts"></script>

</Layout>
