---
export const prerender = false;
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import loginImage from "../../public/loginimage.jpg";

const user = (Astro.locals as any)?.user;
const isAdmin = user?.role === "admin";
---

<Layout title="Home">
  <Navbar />
  <div class="container-fluid py-4 p-0">
    <div class="d-flex flex-row justify-content-center gap-3 h-100 py-3">
      <!-- Realizar Pedido -->

      <!-- Para llevar -->
      <div class=`${isAdmin ? 'col-3' : 'col-3'}`>
        <a href="/realizar-pedido/pedido">
          <div class="menu-item position-relative shadow-lg rounded">
            <img
              src="home2.png"
              alt="Para llevar"
              class="img-fluid w-100 img-expanded"
              style="object-fit: cover;"
            />
            <div class="color-overlay"></div>
            <div class="card-overlay">
              <h3 class="card-title-overlay">Para Llevar</h3>
            </div>
          </div>
        </a>
      </div>

      <div class=`${isAdmin ? 'col-5' : 'col-7'}`>
        <a href="/realizar-pedido/mesas">
          <div class="menu-item position-relative shadow-lg rounded">
            <img
              src="home1.jpg"
              alt="Pedidos"
              class="w-100 h-100 img-expanded"
              style="object-fit: cover;"
            />
            <div class="color-overlay"></div>
            <div class="card-overlay">
              <h3 class="card-title-overlay">Realizar Pedido</h3>
            </div>
          </div>
        </a>
      </div>
      <!-- Administración - Solo visible para admin -->
      {isAdmin && (
      <div class="col-3">
        <a href="/administracion">
          <div class="menu-item position-relative shadow-lg rounded">
            <img
              src="home4.jpg"
              alt="Administración"
              class="img-fluid w-100 img-expanded"
              style="object-fit: cover;"
            /><div class="color-overlay"></div>
            <div class="card-overlay">
              <h3 class="card-title-overlay">Administración</h3>
            </div>
          </div>
        </a>
      </div>
      )}
    </div>
  </div>
</Layout>
