---
export const prerender = false;
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import loginImage from "../../public/loginimage.jpg";

const user = (Astro.locals as any)?.user;
const isAdmin = user?.role === "admin";
---

<Layout title="Home">
  <Navbar />
  <div class="container-fluid bg-light" style="min-height: calc(100vh -50px); padding: 20px 50px 50px 50px;">
    <div class="row g-3 align-items-center " style="height: calc(100vh - 100px);">
      <!-- Para llevar -->
      <div class=`${isAdmin ? 'col-md-3' : 'col-md-4'}` style="height: 100%;">
        <a href="/realizar-pedido/pedido" class="text-decoration-none">
          <div class="card shadow border-0 menu-item h-100">
            <div style="position: relative; height: 100%;">
              <img
                src="home2.png"
                alt="Para llevar"
                class="card-img"
                style="height: 100%; width: 100%; object-fit: cover;"
              />
              <div class="color-overlay"></div>
              <div class="card-overlay">
                <h3 class="card-title-overlay">Para Llevar</h3>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Realizar Pedido -->
      <div class=`${isAdmin ? 'col-md-6' : 'col-md-8'}` style="height: 100%;">
        <a href="/realizar-pedido/mesas" class="text-decoration-none">
          <div class="card shadow border-0 menu-item h-100">
            <div style="position: relative; height: 100%;">
              <img
                src="home1.jpg"
                alt="Pedidos"
                class="card-img"
                style="height: 100%; width: 100%; object-fit: cover;"
              />
              <div class="color-overlay"></div>
              <div class="card-overlay">
                <h3 class="card-title-overlay">Realizar Pedido</h3>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Administración - Solo visible para admin -->
      {isAdmin && (
      <div class="col-md-3" style="height: 100%;">
        <a href="/administracion" class="text-decoration-none">
          <div class="card shadow border-0 menu-item h-100">
            <div style="position: relative; height: 100%;">
              <img
                src="home4.jpg"
                alt="Administración"
                class="card-img"
                style="height: 100%; width: 100%; object-fit: cover;"
              />
              <div class="color-overlay"></div>
              <div class="card-overlay">
                <h3 class="card-title-overlay">Administración</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      )}
    </div>
  </div>
</Layout>
