---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import loginImage from "../../public/loginimage.jpg";
---

<Layout>
  <div class="container-fluid d-flex flex-column p-0 vh-100">
    <div class="w-100 m-0"><Navbar /></div>

    <div class="d-flex vw-100 flex-row vh-100 overflow-hidden">
      <div class="w-50 bg-dark h-100 overflow-hidden">
        <img
          src={loginImage.src}
          alt="loginImage"
          class="h-100 w-100 object-fit-cover"
        />
      </div>

      <div class="d-flex justify-content-center w-50">
        <div
          class="d-flex flex-column w-100 text-center justify-content-center"
          style="max-width: 340px;"
        >
          <h2 class="fw-semibold mb-3 text-center" style="color:#5a3c2e;">
            Iniciar Sesión
          </h2>

          <form>
            <div class="mb-3">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Correo electrónico"
                required
              />
            </div>
            <div class="mb-4">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Contraseña"
                required
              />
            </div>
            <div class="d-grid gap-3">
              <button
                type="submit"
                class="btn btn-lg text-white fw-semibold"
                style="background-color:#5a3c2e;"
              >
                Ingresar <i class="bi bi-arrow-right ms-1"></i>
              </button>
              <a href="#" class="text-decoration-none" style="color:#5a3c2e;">
                ¿Olvidaste tu contraseña?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer
      class="text-white d-flex justify-content-between align-items-center px-3 m-0"
      style="background-color:#3b2a23; height:50px;"
    >
      <div class="d-flex align-items-center">
        <img
          src="/EstacionCafeWhite.png"
          alt="Estación Café"
          width="90"
          class="me-2"
        />
      </div>

      <small class="text-center flex-grow-1 mb-0" style="font-size: 0.8rem;">
        © 2025 Estación Café. Todos los derechos reservados.
      </small>

      <div class="d-flex align-items-center">
        <a
          href="#"
          class="text-white me-2 text-decoration-none"
          style="font-size: 0.8rem;">Contáctanos</a
        >
        <a href="#" class="text-white me-1"
          ><i class="bi bi-facebook" style="font-size: 1rem;"></i></a
        >
        <a href="#" class="text-white"
          ><i class="bi bi-instagram" style="font-size: 1rem;"></i></a
        >
      </div>
    </footer>
  </div>
</Layout>