---
export const prerender = false;
import Navbar from "../../../components/Navbar.astro";
import Layout from "../../../layouts/Layout.astro";
import LeftBar from "../../../components/LeftBar.astro";

const options = ["General", "Alertas"];

const ajustesRouteMap: Record<string, string> = {
    "General": "/administracion/ajustes/ajustes-general",
    "Alertas": "/administracion/ajustes/ajustes-alerta"
};
---

<!-- Importar íconos de Bootstrap -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<Layout title="Ajustes General">
  <Navbar />

  <div class="container-fluid d-flex m-0 p-0">
    <LeftBar title="Ajustes" options={options} selectedOption="General" routeMap={ajustesRouteMap} />

    <div class="col-md-10 bg-white p-0 h-100">
      <div class="h-100 d-flex flex-column">
        <div class="card border-0 shadow-sm h-100 rounded-3">
          <div class="card-header bg-white border-0 py-2 px-3">
            <h1 class="h3 fw-semibold mb-4">General</h1>
          </div>

          <div class="card-body py-3 px-4">
            <!-- Tema de interfaz -->
            <div class="mb-3">
              <div class="small fw-bold mb-1">Tema de interfaz</div>
              <div
                class="d-flex align-items-center justify-content-between px-2 py-1 bg-white border shadow-sm rounded-2"
                style="width: 150px; cursor: pointer; font-size: 0.8rem;"
              >
                <span class="text-start fw-normal">Claro</span>
                <i
                  class="bi bi-chevron-down text-muted"
                  style="font-size: 0.8rem;"></i>
              </div>
            </div>

            <!-- Moneda -->
            <div class="mb-3">
              <div class="small fw-bold mb-1">Moneda</div>
              <div
                class="d-flex align-items-center justify-content-between px-2 py-1 bg-white border shadow-sm rounded-2"
                style="width: 190px; cursor: pointer; font-size: 0.8rem;"
              >
                <span class="text-start fw-normal">Dólar estadounidense</span>
                <i
                  class="bi bi-chevron-down text-muted"
                  style="font-size: 0.8rem;"></i>
              </div>
            </div>

            <!-- Botón -->
            <button
              class="btn btn-sm mt-2 fw-bold shadow-sm rounded-3 px-3 py-1"
              style="background-color: #E6E6E6; border-color: #E6E6E6; color: #000; font-size: 0.8rem;"
            >
              Guardar Cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
